<h1>v{{ .releaseVersion }}</h1>

<p class='info-icon'>Be sure to keep up with the latest releases by subscribing to the
    <a href='http://www.mbtest.dev/feed'>ATOM feed</a>.
</p>

<p>
    This is the first release published under the new <a
        href='https://github.com/mountebank-testing/mountebank'>mountebank-testing</a> organization.
    This is a community effort to continue the maintenance and development of mountebank going forward.
    The package name has changed to <code>@mbtest/mountebank</code> to reflect this; please update your install commands
    accordingly.
</p>

<h2>Changes</h2>
<p>Most of the work in this release was focused on getting the project up and running under the new organization, but
    there were a few small changes:</p>
<ul class='bullet-list'>
    <li>Updated imposter response to include
        <pre style="display: inline">allowCORS</pre> property
    </li>
    <li>Various dependencies updated</li>
</ul>

<h2>Contributors</h2>
<p>Many thanks to the following kind folks for help with this release, either through bug reports,
    suggestions, or direct code contributions:</p>

<ul class='bullet-list'>
    <li>Jarl Friis</li>
    <li>Matthew Herman</li>
    <li>Rajan Panigrahi</li>
    <li>Simon Brunning</li>
    <li>Teameh</li>
    <li>misirlou-tg</li>
</ul>

<h2>Install</h2>

<pre><code>npm install -g @mbtest/mountebank@{{ .releaseVersion }}</code></pre>