http://www.mbtest.dev/
http://www.mbtest.dev/imposters
http://www.mbtest.dev/logs
http://www.mbtest.dev/config
http://www.mbtest.dev/feed
http://www.mbtest.dev/support
http://www.mbtest.dev/license
http://www.mbtest.dev/faqs
http://www.mbtest.dev/docs/gettingStarted
http://www.mbtest.dev/docs/mentalModel
http://www.mbtest.dev/docs/commandLine
http://www.mbtest.dev/docs/security
http://www.mbtest.dev/docs/communityExtensions
http://www.mbtest.dev/docs/api/overview
http://www.mbtest.dev/docs/api/contracts
http://www.mbtest.dev/docs/api/mocks
http://www.mbtest.dev/docs/api/stubs
http://www.mbtest.dev/docs/api/predicates
http://www.mbtest.dev/docs/api/xpath
http://www.mbtest.dev/docs/api/json
http://www.mbtest.dev/docs/api/jsonpath
http://www.mbtest.dev/docs/api/proxies
http://www.mbtest.dev/docs/api/injection
http://www.mbtest.dev/docs/api/behaviors
http://www.mbtest.dev/docs/api/errors
http://www.mbtest.dev/docs/api/faults
http://www.mbtest.dev/docs/protocols/http
http://www.mbtest.dev/docs/protocols/https
http://www.mbtest.dev/docs/protocols/tcp
http://www.mbtest.dev/docs/protocols/smtp
http://www.mbtest.dev/docs/protocols/custom
http://www.mbtest.dev/metrics
http://www.mbtest.dev/releases
{{ range $release := .releases }}
http://www.mbtest.dev/releases/{{ .release.version }}
{{ end }}
